@model MeterWeb.Reading

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReadingId" />
            <div class="form-group">
                <label asp-for="ReadingDataOfCurrentReading" class="control-label"></label>
                <input asp-for="ReadingDataOfCurrentReading" class="form-control" />
                <span asp-validation-for="ReadingDataOfCurrentReading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadingMeterId" class="control-label"></label>
                <select asp-for="ReadingMeterId" class="form-control" asp-items="ViewBag.ReadingMeterId"></select>
                <span asp-validation-for="ReadingMeterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadingPaymentId" class="control-label"></label>
                <select asp-for="ReadingPaymentId" class="form-control" asp-items="ViewBag.ReadingPaymentId"></select>
                <span asp-validation-for="ReadingPaymentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
