@{
    ViewData["Title"] = "Privacy Policy";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тег IMG</title>
    <img src="C:\Users\Bakup\source\repos\MeterWeb\images\image2.jpg" />
</head>
<body>

    <p>
        
        Lorem ipsum dolor sit amet...
    </p>
    <a>
        @Html.ActionLink("На головну", "Index", "Home")
    </a>
</body>
</html>

