@model MeterWeb.Meter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeterId" />
            <div class="form-group">
                <label asp-for="MeterNumbers" class="control-label"></label>
                <input asp-for="MeterNumbers" class="form-control" />
                <span asp-validation-for="MeterNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterTypeId" class="control-label"></label>
                <select asp-for="MeterTypeId" class="form-control" asp-items="ViewBag.MeterTypeId"></select>
                <span asp-validation-for="MeterTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterFlatId" class="control-label"></label>
                <select asp-for="MeterFlatId" class="form-control" asp-items="ViewBag.MeterFlatId"></select>
                <span asp-validation-for="MeterFlatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterDataLastReplacement" class="control-label"></label>
                <input asp-for="MeterDataLastReplacement" class="form-control" />
                <span asp-validation-for="MeterDataLastReplacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
